<!-- ヘッダーの表示 -->
<%= render "shared/header" %>
<div class='main'>

  <div class='recipe-contents'>
    <h2 class='title'>おすすめレシピ</h2>
  </div>

  <div class='flash-message'>
    <%= flash[:notice] %>
  </div>

  <% if @recipes.blank? %>
    <div class='flash-message'>
      調理可能なレシピはありません
    </div>
  <% end %>
  
  <!-- レシピ一覧の表示 -->
  <%= render "recipe", recipes: @recipes %>

</div>

<!-- フッターの表示 -->
<%= render "shared/footer" %>

<!-- 冷蔵庫ボタン -->
<%= render "shared/refrigerator" %>
