<%= render "shared/header" %>
<div class='main'>
  <div class="recipes-add-contents">
    <div class="recipes-add-main">
      <div class='title-box'>
        <h2 class="title">レシピ情報</h2>
      </div>

      <div class='container'>
        <div class='form vertical'>
          <div class='list'>
            <div class='recipe-img-content'>
              <%= image_tag(@recipe.image, class:"recipe-img", id:"recipe-img") %>
            </div>
            <div class='recipe'>
              <h3 class='recipe-name', id='recipe-name'><%= @recipe.name %></h3>
              <div class='recipe-info'>
                <h3 class='recipe-name', id='recipe-calorie'><%= @recipe.calorie %>kcal</h3>
                <h3 class='recipe-name', id='recipe-time'>所要時間：<%= @recipe.time %>分</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class='title-box'>
        <h2 class="title">食材情報</h2>
      </div>

      <div class="container foodstuff-container">
        <div class="show-form vertical">
          <% @recipe.recipe_ingredients.each do |r_ingredient| %>
            <div class='side-by-side foodstuff'>
              <div class='foodstuff-name'>
                <%= r_ingredient.ingredient.name %>
              </div>
              <div style="width:50%;">
                <div class='side-by-side'>
                  <div class='quantity'>
                    <div class='right'><%= r_ingredient.quantity %></div>
                  </div>
                  <div class='show-unit', id='unit'><%= r_ingredient.ingredient.unit %></div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      
      <div class='btn-form'>
          <%= link_to '編集', edit_recipe_path(@recipe.id), method: :get, class:'edit-btn' %>
          <%= link_to '削除', "/recipes/#{@recipe.id}", method: :delete, class:'del-btn' %>
      </div>

      <div class='btn-form vertical'>
        <% if @flg %>
          <%= link_to '調理実行', execute_recipe_path(@recipe.id), method: :patch, class:'exec-btn' %>
        <% else %>
          <div class='dummy-btn'>調理実行</div>
          <div style='color: red;'>調理に必要な食材が足りません</div><br>
        <% end %>
        <div>調理を実行すると食材が冷蔵庫から消費されます</div>
      </div>

    </div>
  </div>
</div>
<%= render "shared/footer" %>

<!-- 冷蔵庫ボタン -->
<%= render "shared/refrigerator" %>
